<div class="border-red-600 border min-h-screen flex justify-center align-middle items-center bg-sky-200">
  <app-header [headerCurrencies]="headerCurrencies"></app-header>
  <app-exchange
    [currenciesNames]="currenciesNames"
    [amount1]="amount1"
    [amount2]="amount2"

    [currency1]="currency1"
    [currency2]="currency2"

    (emitSetCurrency1)="setCurrency1($event)"
    (emitSetCurrency2)="setCurrency2($event)"

    (emitSetAmount1)="setAmount1($event)"
    (emitSetAmount2)="setAmount2($event)"
  ></app-exchange>
</div>
